[submodule "g3splat"]
	path = g3splat
	url = https://github.com/m80hz/g3splat.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "FastAvatar"]
	path = FastAvatar
	url = https://github.com/hliang2/FastAvatar.git
